* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* animation container */
.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100vw;
  /* border: 1px solid #333; */
}

/* replay button */
.replay-btn {
  background: white;
  color: black;
  border: none;
  padding: 5px 8px;
  font-size: 8px;
  cursor: pointer;
    border-radius: 2px;
}
